<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skepticalone.mecachecker">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".components.summary.SummaryActivity"
            android:label="@string/summary"
            android:parentActivityName=".components.shifts.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".components.shifts.MainActivity"
            android:label="@string/title_shift_list"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.shifts.DetailActivity"
            android:parentActivityName=".components.shifts.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".components.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".components.shifts.MainActivity"
            android:theme="@style/AppTheme" />
        <provider
            android:name=".data.Provider"
            android:authorities="com.skepticalone.mecachecker.provider"
            android:exported="false" />

    </application>

</manifest>